
#container-outer-introduction{
    width: 100%;
    min-height: 57vh;
    padding-top: 4vh;
    scroll-margin-top: 15vh;
    background: var(--background-light-grey);
}

#introduction{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: 100%;
    margin: 0 auto;
}

#infobox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 0.6vh;

    white-space: wrap;
    width: 50%;
    min-width: 50%;
    height: 100%;
}

#infobox-title{
    font-size: 6vh;
}

#infobox-description{
    text-align: start;
    font-size: 3vh;
    width: 80%;
}

#infobox-icon-info{
    display: flex;
    flex-flow: column;
    font-size: 2.7vh;
    gap: 0.5vh;
    margin-top: 1vh;
}

#infobox-icon-info .bi-check2-circle{
    color: #2eb106;
}

#button-download-cv{
    margin: 2vh 0;
    font-size: 3vh;
    padding: 1vh 2vh;

    color: var(--background-light-grey);
    background: var(--text-blue);
    border: 1px solid var(--text-blue);

    border-radius: 3em;
    transition: 0.2s;
}

#button-download-cv:hover{
    color: var(--text-blue);
    background: var(--background-light-grey);
}

#infobox-contacts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 5vh;
    gap: 3vh;
}

#infobox-contacts .bi-github{
    color: var(--text-blue);
}

#infobox-contacts .bi-linkedin{
    color: var(--text-blue);
}

#container-portrait{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#container-portrait img{
    width: 50vh;
    height: auto;
    border: 5px solid var(--text-blue);
    border-radius: 500%;
    background: var(--background-light-grey);
}


@media (max-width: 708px){
    
    #introduction{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    #infobox{
        order: 2;
    }

    #container-outer-introduction{
        padding: 5vh 0 3vh 0;
    }

    #container-portrait{
        justify-self: center;
        width: 40vw;
        padding-bottom: 0.5vh;
    }

    #container-portrait img{
        width: 90%;
        height: auto;
        max-width: 80vh;
    }

    #infobox{
        align-items: center;
        width: 80%;
    }

    #infobox-title{
        align-self: center;
        padding-top: 1vh;
    }

    #infobox-description{
        width: 90%;
        text-align: center;
    }

    #button-download-cv{
        font-size: 3.5vh;
    }

}
















