
:root{
    --background-grey: #dfdfdf;
    --background-light-grey: #f3f3f3;
    --background-white: #fdfffc;
    --text: #161a38;
    --text-blue: #2477dc; 
    --text-hover: #2477dc;
    --text-blue-hover: #f6f6f6;

}

[data-theme="dark"]{
    --background-grey: #0d1029;
    --background-light-grey: #131736;
    --background-white: #293065;
    --text: #f6f6f6;
    --text-blue: #2477dc; 
    --text-hover: #2477dc;
    --text-blue-hover: #f6f6f6;


    --color1: #f6f5f4;
    --color2: #2477dc;
    --color3: #f6f5f4;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    color: var(--text);
    font-family: "Ubuntu Mono", monospace;
    background: var(--background-grey);
}

#container-all{
    width: 100%;
    min-width: 480px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

}


#container-outer-header{
    position: sticky;
    top: 0;
    z-index: 10;
    height: 11vh;
    width: 100%;
    background: var(--background-white);
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0.1vh rgba(0,0,0,0.75);
}

header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#header-signature{
    font-size: 7vh;
}


#header-button-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

#header-button-row > button{
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--text);
    font-size: 2.7vh;
}

#header-button-row > button:nth-child(-n + 3):hover{
    border-bottom: 1px solid var(--text);        
}

#button-light{
    font-size: 3.3vh !important;
}

#button-light .bi-moon{
    display: block;
}

#button-light:hover{
    color: var(--text-hover);
}

#button-language{
    padding: 2%;
    border-radius: 15%;      
}

#button-language:hover{
    border: 1px solid var(--text);
}

