
#container-outer-footer{
    width: 100%;
    min-height: 59vh;
    background: #0d0f1f;
}

footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;

    height: 100%;
    width: 100%;
    margin: 5vh auto;

    color: #cecece;
}

#footer-call-me{
    font-size: 5vh;
    padding: 2.5vh 3vh;
    border: 1px solid #cecece;
    border-radius: 5em;
}

#footer-invite{
    font-size: 3vh;
    text-align: center;
}

#footer-container-email{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
    margin: 3vh 0 3vh 0;
}

#footer-email{
    font-size: 6vh;
}

#footer-email-copy{
    font-size: 5vh;
    color: #cecece;
    background: none;
    border: none;
}

#footer-email-copy:hover{
    color: #2477dc;
}

#footer-contacts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4vh;

    font-size: 7vh;
    margin: 1vh 0;
}

#footer-contacts i{
    text-decoration: none;
    color: #cecece;
}

#footer-contacts .bi-github:hover{
    color: #2477dc;
}

#footer-contacts .bi-linkedin:hover{
    color: #2477dc;
}

#footer-faux-copyright{
    font-size: 3vh;
    margin-top: 2.5vh;
}

#footer-faux-copyright a{
    text-decoration: none;
    color: #2477dc;
    border-bottom: 1px solid transparent;
}

#footer-faux-copyright a:hover{
    text-decoration: none;
    color: #2477dc;
    border-bottom: 1px solid #2477dc;
}






@media (max-width: 870px){
    
    #footer-container-email{
        width: 100%;
    }

    #footer-email{
        font-size: 5vw;
    }




}

