
#container-outer-introduction{
    width: 100%;
    min-height: 68vh;
    height: 68vh;
    scroll-margin-top: 15vh;
    background: var(--background-light-grey);
}

#introduction{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#infobox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 0.6vh;

    white-space: wrap;
    width: 60%;
    height: 100%;
}

#infobox-title{
    font-size: 6vh;
}

#infobox-description{
    font-size: 3vh;
}

#infobox-icon-info{
    display: flex;
    flex-flow: column;
    font-size: 2.7vh;
    gap: 0.5vh;
    margin-top: 1vh;
}

#infobox-icon-info .bi-check2-circle{
    color: #2eb106;
}

#button-download-cv{
    margin: 2vh 0;
    font-size: 2.7vh;
    padding: 1vh 2vh;

    color: var(--background-light-grey);
    background: var(--text-blue);
    border: 1px solid var(--text-blue);

    border-radius: 3em;
    transition: 0.2s;
}

#button-download-cv:hover{
    color: var(--text-blue);
    background: var(--background-light-grey);
}

#infobox-contacts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    gap: 3vh;
}

#infobox-contacts .bi-github{
    color: var(--text-blue);
}

#infobox-contacts .bi-linkedin{
    color: var(--text-blue);
}

#container-portrait{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

#container-portrait img{
    width: 50vh;
    height: 50vh;
    border: 5px solid var(--text-blue);
    border-radius: 500%;
    background: var(--background-light-grey);
}

